---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?q=123+Main+St%2C+Kansas+City%2C+MO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 12 Feb 2025 00:22:52 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":298616731,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","osm_type":"way","osm_id":872288058,"boundingbox":["39.0498646","39.0498831","-94.5865005","-94.5864993"],"lat":"39.0498646","lon":"-94.5865005","display_name":"Main
        Street, Southmoreland, Westport, Kansas City, Jackson County, Missouri, 64111,
        United States","class":"highway","type":"secondary","importance":0.6000099999999999},{"place_id":298591286,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"way","osm_id":495566570,"boundingbox":["39.0766065","39.0774508","-94.584904","-94.5848208"],"lat":"39.0774508","lon":"-94.5848208","display_name":"Main
        Street, Union Hill, Kansas City, Jackson County, Missouri, 64111, United States","class":"highway","type":"secondary","importance":0.50001},{"place_id":298589104,"licence":"Data
        © OpenSt[...]
