---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/200,0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/problem+json
      x-correlation-id:
      - c2d6e41d
      x-server-id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      x-edge-request-id:
      - 3bf4703
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "c2d6e41d",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '200,0' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/c2d6e41d"
        }
  recorded_at: Wed, 12 Feb 2025 01:09:06 GMT
recorded_with: VCR 6.3.1
