---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/invalid/url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/problem+json
      x-correlation-id:
      - c2d6cf04
      x-server-id:
      - vm-bldr-nids-apiapp16.ncep.noaa.gov
      x-edge-request-id:
      - 3bf428d
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "c2d6cf04",
            "title": "Not Found",
            "type": "https://api.weather.gov/problems/NotFound",
            "status": 404,
            "detail": "'/invalid/url' is not a valid resource path",
            "instance": "https://api.weather.gov/requests/c2d6cf04"
        }
  recorded_at: Wed, 12 Feb 2025 01:09:05 GMT
recorded_with: VCR 6.3.1
