---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/EAX/52,33/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/geo+json
      x-correlation-id:
      - 6efc95f4
      x-server-id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      x-edge-request-id:
      - 3bf4448
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -94.333,
                            38.6948999
                        ],
                        [
                            -94.33279999999999,
                            38.717000000000006
                        ],
                        [
                            -94.3612,
                            38.71710000000001
                        ],
                        [
                            -94.3614,
                            38.69500000000001
                        ],
                        [
                            -94.333,
                            38.6948999
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2025-02-12T00:22:53+00:00",
                "updateTime": "2025-02-12T00:14:39+00:00",
                "validTimes": "2025-02-11T18:00:00+00:00/P7DT7H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 306.9336
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "Tonight",
                        "startTime": "2025-02-11T18:00:00-06:00",
                        "endTime": "2025-02-12T06:00:00-06:00",
                        "isDaytime": false,
                        "temperature": 23,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": 100
                        },
                        "windSpeed": "8 to 12 mph",
                        "windDirection": "NE",
                        "icon": "https://api.weather.gov/icons/land/night/snow,20/snow,100?size=medium",
                        "shortForecast": "Scattered Snow Showers then Light Snow",
                        "detailedForecast": "Scattered snow showers before 8pm, then snow and a slight chance of freezing drizzle. Cloudy, with a low around 23. Northeast wind 8 to 12 mph, with gusts as high as 21 mph. Chance of precipitation is 100%. New snow accumulation of 1 to 2 inches possible. Little or no ice accumulation expected."
                    },
                    {
                        "number": 2,
                        "name": "Wednesday",
                        "startTime": "2025-02-12T06:00:00-06:00",
        [...]
